<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <!-- <meta http-equiv="refresh" content="20"> -->
        <title>Своя игра</title>
        <link rel="stylesheet" type="text/css" href="src/static/style.css">
    </head>
    <body>
        <header>
            <h1>Главная страница</h1>
        </header>
        <div class="main">
            <div class="body">
                <section class="topic-block">
                    <span id="title">Присоединиться к игре</span>
                    <span id="undertitle"></span>
                </section>
                
                <form type="post" class="game-block" id="enter_id_group">
                    <input class="game-input" id="game_id" type="text" placeholder="ID игры" oninput="this.value = this.value.toUpperCase()">
                    <input class="game-input" id="game_password" type="password" placeholder="Пароль игры">
                    <div class="game-block-button-wrapper">
                        <button id="join_game_button" type="submit" class="button color-green game-block-button" onclick="TryJoinGame()">
                            Присоединиться
                        </button>
                    </div>
                    <label id="error_label"></label>
                </form>
            </div>
            <section class="foot">
                Пока не знаю
            </section>
        </div>

        

        <bb class="column hack-limit-btn-height" id="d220806">

            

            

            <section id="resume_game_group" class="resume-game-block" hidden="">
                <button class="button color-green resume-game-block-button" onclick="ResumeGame()">Продолжить игру</button>
                <button class="button color-red resume-game-block-button" onclick="LeaveGame()">Покинуть игру</button>
            </section>

            <section class="role-block" id="role_selection_group" hidden="">
                <span class="explanatory_label role-block-text">Если вы хотите вести игру <br>и решать, кто прав, а кто неправ<br> нажмите эту кнопку</span>
                <button class="button color-green role-block-button" onclick="SetHostRole()">
                    Ведущий
                </button>
                <p class="empty_space"></p>
                <span class="explanatory_label role-block-text">Если вы хотите участвовать в игре <br>и отвечать на вопросы<br> нажмите эту кнопку</span>
                <button class="button color-green role-block-button" onclick="SetPlayerRole()">
                    Игрок
                </button>
                <label class="all_here_name" id="role_set_error"></label>
            </section>

            <section class="info-block" id="set_info_group" hidden="">
                <!-- avatar_group → new carousel -->
                <div id="avatar_group" class="avatar-carousel">
                    <!-- previous -->
                    <div class="avatar-item avatar-prev">
                        <img id="avatar_prev_img" alt="previous avatar">
                        <button id="avatar_prev_btn" class="avatar-nav" onclick="PrevAvatar()">&lt;</button>
                    </div>

                    <!-- current (focused) -->
                    <div class="avatar-item avatar-current">
                        <img id="avatar_current_img" alt="current avatar">
                    </div>

                    <!-- next -->
                    <div class="avatar-item avatar-next">
                        <img id="avatar_next_img" alt="next avatar">
                        <button id="avatar_next_btn" class="avatar-nav" onclick="NextAvatar()">&gt;</button>
                    </div>

                    <!-- keeps track of index for back-compat with the rest of the code -->
                    <input type="hidden" id="img_no" value="0">
                </div>

                <!-- name -->
                <input class="info-block-input name-input" id="player_name" type="text" placeholder="Введите ваше имя" maxlength="20">

                <!-- self-introduction (single-line, but larger) -->
                <textarea class="info-block-input intro-input" id="player_intro" rows="4" placeholder="Введите ваше представление. Что бы вы хотели сказать зрителям и остальным игрокам?"></textarea>

                <!-- ▴▴--------------------------------▴▴ -->
                
                <p class="empty_space"></p>
                <label id="info_set_error"></label>
                <button class="button color-green primary-button" onclick="SetInfo()">Установить инфо</button>
            </section>

            <section class="players-ready-block" id="all_here_host_group" hidden="">
                <button class="button color-green primary-button" onclick="CallAllHere()">
                    Все здесь
                </button>
            </section>

            <section class="player-block" id="all_here_player_group" hidden="">
                <span>Вы:</span>
                <span id="all_here_player_name">UnnamedPlayer</span>
            </section>

            <div id="select_question_player_group" hidden="">
                <entry class="column">
                    <label id="select_question_player_group_name">UnnamedPlayer</label>
                    <label id="select_question_player_group_score">000</label>
                </entry>
            </div>

            <div class="center" id="can_answer_player_group" hidden="">
                <p class="empty_space_5"></p>
                <button type="button" class="select-button" id="answer_button" onmousedown="AnswerButtonPressed()"></button>
            </div>

            <div class="center" id="get_ready_player_group" hidden="">
                <p class="empty_space_5"></p>
                <button type="button" class="select-button-blocked" onmousedown="AnswerButtonPressed()"></button>
            </div>

            <div id="question_selected_group" hidden="">
                <entry class="column">
                    <label class="explanatory_label">Выбранная категория:</label>
                    <label id="question_selected_theme">Unnamed Theme</label>

                    <p class="empty_space"></p>

                    <label class="explanatory_label">Цена вопроса:</label>
                    <label id="question_selected_price">000</label>
                </entry>
            </div>

            <div id="everyone_bids_group" hidden="">
                <entry class="column">
                    <button type="button" class="button color-red" onclick="StopFinalBidding()">Прекратить ставки</button>
                </entry>
            </div>

            <div id="everyone_answers_group" hidden="">
                <entry class="column">
                    <button type="button" class="button color-red" onclick="StopFinalAnswering()">Прекратить ответы
                    </button>
                </entry>
            </div>

            <div id="right_answer_group" hidden="">
                <entry class="column">
                    <label class="explanatory_label">Верный ответ:</label>
                    <label id="right_answer">No answer</label>
                </entry>
            </div>

            <div id="dismiss_question_group" hidden="">
                <entry class="column">
                    <button type="button" class="button color-red" onclick="DismissQuestion()">Пропустить вопрос</button>
                </entry>
            </div>

            <div id="replay_question_audio_group" hidden="">
                <entry class="column">
                    <button type="button" class="button color-blue" onclick="ReplayAudio()">Сыграть аудио</button>
                </entry>
            </div>

            <div id="player_answers_host_group" hidden="">
                <entry class="column">
                    <label class="explanatory_label">Отвечает игрок:</label>
                    <label id="answering_player">UnnamedPlayer</label>

                    <p class="empty_space"></p>

                    <button type="button" class="button color-green" onclick="ReportAnswerDecision(true)">Верно</button>
                    <button type="button" class="button color-red" onclick="ReportAnswerDecision(false)">Неверно</button>
                </entry>
            </div>

            <section id="you_answer_group" class="info-block" hidden="">
                <entry class="column">
                    <label>Введите ответ или скажите его вслух</label>
                    <input class="info-block-input" type="text" id="player_answer_input" placeholder="Ваш ответ">
                    <button id="player_answer_input_button" type="button" class="button color-green" onclick="PlayerAnswer(document.getElementById('player_answer_input').value)">
                        Ответ
                    </button>
                </entry>
            </section>

            <div id="cat_in_poke_player_group" hidden="">
                <p class="empty_space"></p>
                <label>Выбираем, кто получит кота в мешке</label>
            </div>

            <div id="all_questions_answered_host_group" hidden="">
                <p class="empty_space"></p>
                <button type="button" class="button color-green" onclick="CallNextRound()">Следующий раунд</button>
            </div>

            <div id="all_questions_answered_player_group" hidden="">
                <p class="empty_space"></p>
                <label>Следующий раунд вот-вот начнется</label>
            </div>

            <div id="skip_sequence_group" hidden="">
                <p class="empty_space"></p>
                <button type="button" class="button color-blue" onclick="FastForward()">Перемотать вперед</button>
            </div>

            <div id="skip_displaying_group" hidden="">
                <p class="empty_space"></p>
                <button type="button" class="button color-blue" onclick="SkipDisplaying()">Перемотать вперед</button>
            </div>

            <div id="final_round_answer_group" hidden="">
                <entry class="column">
                    <label>Ваш финальный ответ</label>
                    <input class="info-block-input" type="text" id="final_answer_input" placeholder="Ваш ответ">
                    <button class="button color-green" onclick="FinalRoundAnswer(document.getElementById('final_answer_input').value)">Ответ
                    </button>
                </entry>
            </div>

            <div id="reconnection_screen" hidden="">
                <p class="empty_space"></p>
                <label>Потеря связи. Подключаемся заново...</label>
            </div>

            <div id="final_round_decide_answer_group" hidden="">
                <entry class="column">
                    <label class="explanatory_label">Отвечает игрок:</label>
                    <label id="final_round_answering_player">UnnamedPlayer</label>

                    <label class="explanatory_label">Ответ игрока:</label>
                    <label id="final_round_player_answer">LEGIT</label>

                    <label class="explanatory_label">Верный ответ:</label>
                    <label id="final_round_answer">No answer</label>

                    <p class="empty_space"></p>

                    <button type="button" class="button color-green" onclick="ReportFinalAnswerDecision(true)">Верно
                    </button>
                    <button type="button" class="button color-red" onclick="ReportFinalAnswerDecision(false)">Неверно
                    </button>
                </entry>
            </div>

            <div id="curiosity_or_end_group" hidden="">
                <entry class="column">
                    <button type="button" class="button color-blue" onclick="ReportCuriosityOrEndGame('curious')">
                        Ответ другого вопроса
                    </button>
                    <button type="button" class="button color-red" onclick="ReportCuriosityOrEndGame('end')">Закончить игру
                    </button>
                </entry>
            </div>

            <div id="curiosity_answer_group" hidden="">
                <entry class="column">
                    <button type="button" class="button color-blue" onclick="CuriosityRevealAnswer()">Показать ответ</button>
                </entry>
            </div>

            <div id="auction_player_group" hidden="">
                <entry class="column">
                    <label id="highest_bidder"></label>
                    <label id="highest_bid"></label>
                    <input class="info-block-input" type="number" id="your_bid" placeholder="Ставка">
                    <button id="button_bid" type="button" class="button color-green" onclick="window.auctionPage.onBidClicked(window.auction)">Ставка
                    </button>
                    <button id="button_pass" type="button" class="button color-red" onclick="window.auctionPage.onPassClicked()">Пас
                    </button>

                    <label id="not_enough_points">Недостаточно очков</label>
                    <label id="you_are_highest_bidder">Ваша ставка лидирует</label>
                    <label id="passing">Пасуем...</label>
                </entry>
            </div>

            <div id="final_bid_player_group" hidden="">
                <entry class="column">
                    <label id="final_bid_label">Mister T</label>
                    <input type="number" min="0" class="info-block-input" id="final_bid_input" placeholder="Ваша ставка">
                    <button id="final_bid_button" type="button" class="button color-green" onclick="FinalRoundBid(document.getElementById('final_bid_input').value)">Ставка
                    </button>
                </entry>
            </div>

            <section id="select_question_host_group" hidden="">
                <p class="empty_space"></p>
                <div id="questions_table"></div>
            </section>

            <div id="cat_in_poke_host_group" hidden="">
                <p class="empty_space"></p>
                <table id="cat_in_poke_table" cellspacing="0" cellpadding="0"></table>
            </div>

            <div id="players_list_host_group" hidden="">
                <p class="empty_space"></p>
                <table cellspacing="0" cellpadding="0"></table>
            </div>

            <div id="multiple_choice_host_group" hidden="">
                <entry class="column">
                    <button type="button" class="button color-red" onclick="EndMultipleChoice()">Закончить голосование</button>
                </entry>
            </div>

            <div id="multiple_choice_options_group" hidden="">
                <p class="empty_space"></p>
                <table cellspacing="0" cellpadding="0"></table>
            </div>

            <div id="final_round_themes_group" hidden="">
                <p class="empty_space"></p>
                <table id="final_round_themes_table" cellspacing="0" cellpadding="0"></table>
            </div>

            <div id="themes_to_introduce_group" hidden="">
                <p class="empty_space"></p>
                <table id="themes_to_introduce_table" cellspacing="0" cellpadding="0"></table>
            </div>

            <div id="stop_guessing_or_end_question_group" hidden="">
                <entry class="column">
                    <button type="button" class="button color-red" onclick="RevealingCluesStopGuessing()">Закончить раунд
                    </button>
                    <button type="button" class="button color-red" onclick="RevealingCluesEndQuestion()">Завершить вопрос
                    </button>
                </entry>
            </div>

            <div id="guess_or_pass_player_group" hidden="">
                <entry class="column">
                    <input class="info-block-input" id="revealing_clues_input" type="text" placeholder="Ваш ответ">
                    <button id="revealing_clues_button" type="button" class="button color-green" onclick="RevealingCluesGuessMade(document.getElementById('revealing_clues_input').value)">
                        Предположить
                    </button>

                    <p class="empty_space"></p>

                    <button type="button" class="button color-red" onclick="RevealingCluesPlayerPass()">Пропустить
                    </button>
                </entry>
            </div>

            <div id="revealing_clues_decide_answer_group" hidden="">
                <entry class="column">
                    <label class="explanatory_label">Отвечает игрок:</label>
                    <label id="revealing_clues_answering_player">UnnamedPlayer</label>

                    <label class="explanatory_label">Ответ игрока:</label>
                    <label id="revealing_clues_player_answer">LEGIT</label>

                    <label class="explanatory_label">Верный ответ:</label>
                    <label id="revealing_clues_right_answer">No answer</label>

                    <p class="empty_space"></p>

                    <button type="button" class="button color-green" onclick="ReportRevealingCluesDecision(true)">Верно
                    </button>
                    <button type="button" class="button color-red" onclick="ReportRevealingCluesDecision(false)">Неверно
                    </button>
                </entry>
            </div>

            <div id="decide_final_players_group" hidden="">
                <entry class="column">
                    <span class="explanatory_label role-block-text">Все участвуют в финальном раунде. У всех игроков будет не менее 100 очков</span>
                    <button type="button" class="button color-blue" onclick="EveryoneParticipates()">
                        Все
                    </button>

                    <span class="explanatory_label role-block-text">В финальном раунде участвуют только игроки, имеющие право на участие. Игроки, набравшие 0 или менее очков, больше не участвуют в игре</span>
                    <button type="button" class="button color-blue" onclick="EligibleParticipate()">
                        У кого &gt; 0
                    </button>
                </entry>
            </div>

            <section id="auction_host_group" hidden="">
                <p class="empty_space"></p>
                <button id="button_end_auction" class="button color-red primary-button" onclick="window.auctionHostPage.onEndAuction()">
                    Закончить аукцион
                </button>
            </section>

            <overlay class="collapsed emojis-block" id="emoji_layer" style="display: flex;">
                <button class="button color-white emojis-block-button" id="controls"></button>
                <button class="button color-white emojis-block-button" id="cool" onclick="PlayEmoji('Cool')">
                    <sprite class="sprite-img-sd img-sd-cool"></sprite>
                </button>
                <button class="button color-white emojis-block-button" id="bigsmile" onclick="PlayEmoji('Happy')">
                    <sprite class="sprite-img-sd img-sd-bigsmile"></sprite>
                </button>
                <button class="button color-white emojis-block-button" id="sad" onclick="PlayEmoji('Sad')">
                    <sprite class="sprite-img-sd img-sd-sad"></sprite>
                </button>
                <button class="button color-white emojis-block-button" id="sleep" onclick="PlayEmoji('Tired')">
                    <sprite class="sprite-img-sd img-sd-sleep"></sprite>
                </button>
                <button class="button color-white emojis-block-button" id="sick" onclick="PlayEmoji('Puke')">
                    <sprite class="sprite-img-sd img-sd-sick3"></sprite>
                </button>
                <button class="button color-white emojis-block-button" id="poop" onclick="PlayEmoji('Poop')">
                    <sprite class="sprite-img-sd img-sd-poop"></sprite>
                </button>
            </overlay>

            <div class="camera-block camera_control">
                <button id="button_main" type="button" class="button color-green button-main video-camera-image-wrapper">
                    <img src="../../assets/video-camera.png" alt="video_camera" class="video-camera-image">
                </button>
                <div id="buttons" class="camera_roster">
                </div>
            </div>

            <button hidden="" type="button" class="button color-blue bottom game-block-button" onclick="ToggleChangeScoreListPopup()">
                change points
            </button>

            <div id="popup-overlay"></div>

            <div id="change-score-list-popup" class="popup-menu">
                <button type="button" class="button color-red close-popup-button" onclick="CloseChangeScoreListPopup()">X
                </button>

                <div id="change-score-group" class="popup-content">
                    <p class="empty_space"></p>
                    <table id="change-score-table" class="centered-table"></table>
                </div>
            </div>

            <entry id="log" class="log-block"></entry>
        </bb>
    </body>
    <footer>
        Это футер. здесь всякие права, ссылки, даты
    </footer>
</html>